@import "tailwindcss";

@theme inline {
  --font-YekanBakh: var(--font-YekanBakh);
}

@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);

.leaflet-attribution-flag {
  display: none !important;
}
.leaflet-control-attribution > a:first-child {
  display: none !important;
}

.leaflet-control-attribution > span {
  display: none !important;
}
